<% if !@project.postgresql? && @project.autobus_token.blank? %>
  <div class="autobus-instructions">
      <h5 class="autobus-instructions__header">To configure this project, follow these steps:</h5>
      <ul class="collection">
        <li class="collection-item">
          <code>
            heroku browse --app <%= @project.name %>;
            heroku addons:add autobus --app <%= @project.name %>;
            heroku addons:upgrade autobus:journey --app <%= @project.name %>;
            heroku addons:open autobus --app <%= @project.name %>;
          </code>
        </li>
        <% [
         'Change hour',
         'Enable rest api',
         'Save',
         'Trigger a manual backup',
         'Add the auth token in the present form and save'
        ].each do |item| %>
          <li class="collection-item">
            <%= item %>
          </li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.text_field :name %>
    <%= f.label :name, class: 'active' %>
  </div>

  <div class="input-field">
    <%= f.text_field :region %>
    <%= f.label :region, class: 'active' %>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%=  f.collection_select :db_connector, Project.db_connectors.map{ |a| [a.first,a.first] },  :first, :second %>
      <%= f.label :db_connector %>
    </div>
  </div>

  <div class="input-field">
    <%= f.label :domain, class: 'active' %>
    <%= f.text_field :domain %>
  </div>

  <div class="input-field">
    <%= f.label :autobus_token %>
    <%= f.text_field :autobus_token %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
