<ul class="collapsible projects-list" data-collapsible="expandable">
  <% locals[:projects].each do |project| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons material-icons--success">done</i>
        <%= db_icon(project.db_connector) %>
        <%= project.name %> — <%= project.db_connector %> — <%=  project.configured? ? 'yes' : 'no'%>
        <%= link_to 'EDIT CONFIG', edit_project_path(project), class: 'projects-list__item__action' %>
      </div>
      <div class="collapsible-body">
        <ul class="collection with-header">
          <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons"></i>LOG</a></div></li>
          <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons"></i>LOG</a></div></li>
          <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons"></i>LOG</a></div></li>
          <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons"></i>LOG</a></div></li>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
