<ul class="collapsible projects-list <%= locals[:classes] %>" data-collapsible="expandable">
  <% locals[:projects].each do |project| %>
    <li>
      <div class="collapsible-header">
        <% if project.backups.any?%>
          <i class="<%= project_status_icon_color_class(project.last_backup) %> material-icons"><%= project_status_icon_name(project.last_backup) %></i>
        <% end %>
        <%= db_icon(project.db_connector) %>
        <%= project_line_item(project).html_safe %>
        <%= render 'shared/mini_history', locals: { backups: project.last_five_backups} %>
        <%= link_to 'EDIT CONFIG', edit_project_path(project), class: 'projects-list__item__action' %>
      </div>
      <div class="collapsible-body">
        <%= render 'backups/backups_list', locals: {backups: project.last_five_backups} %>
      </div>
    </li>
  <% end %>
</ul>
