<!DOCTYPE html>
<html>
  <head>
    <title>BackupsDashboard</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to 'Dashboard', root_path %>
          </li>
          <li>
            <%= link_to 'Heroku', 'http://heroku.com/' %>
          </li>
          <li>
            <%= link_to 'Autobus', 'http://autobus.io' %>
          </li>
        </ul>
      </div>
      <div class="nav-content valign-wrapper">
        <div>
          <div class="center-align  animated fadeInUp flipInX">
            <i class="large material-icons">backup</i>
          </div>
          <h1 class="center-align  animated fadeInUp">
            <%= content_for?(:title) ? yield(:title) : 'BluesQuare backup dashboard' %>
          </h1>
        </div>
        <%= link_to new_project_path, class: 'btn-floating btn-large halfway-fab waves-effect waves-light red' do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
