<!DOCTYPE html>
<html>
  <head>
    <title>BackupsDashboard</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-content valign-wrapper">
        <h1 class="center-align">BluesQuare backup dashboard</h1>
        <%= link_to new_project_path, class: 'btn-floating btn-large halfway-fab waves-effect waves-light red' do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
